# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/
android/

# Env
.env
.env.local
.env.sentry-build-plugin

# Secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Supabase local
supabase/.branches
supabase/.temp